#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>
#include "./zmk-nodefree-config/helper.h"

// make it simpler to make keys transparent
#define ______ &trans
#define xxxxxx &none

// layer shortcuts
#define DEF 0
#define NUM 1
#define FUN 2
#define MOD 3
#define SYM 4
#define CMD 5

// todo: translate these and make sure they're correct,
#define KEYS_L 14 15 16 17 18 19 28 29 30 31 32 33 46 47 48 49 50
#define KEYS_R 22 23 24 25 26 27 40 41 42 43 44 45 54 55 56 57 58
#define THUMBS 35 36 37 38 52 53 65 66 67 68 69 70

// todo: figure out a way to avoid o-space triggering command space
// cause it's regularly turning my keyboard out of dvorak.
// todo: figure out why 'ing' is sometimes not getting typed

// left handed home-row modifiers
ZMK_BEHAVIOR(hrml, hold_tap,
    // hold if another key is pressed and released within the tapping term or if tapping-term-ms expires
    flavor="balanced";
    // how long to hold until the key's considered "held"
    tapping-term-ms = <280>;
    // if a key is double-tapped within this much time, consider it held as the tapping key (i think?)
    quick-tap-ms = <175>;
    // resolve as tap when it's pressed within this much time after another key.
    // basically prevents using home row keys as mod keys when typing quickly which
    // is almost always desired. shift _might_ be an issue for this if i get fast enough
    require-prior-idle-ms = <150>;
    // these are parameterized bindings, so you use this like &hmrl LSHIFT U
    // and then left shift and u are bound to the hold and tap behaviors respectively
    bindings = <&kp>, <&kp>;
    // if any key _not_ in this list is pressed before tapping-term-ms expires
    // it will produce a tap. this means it's impossible to trigger command-a using
    // the command key under 'e', though you _can_ hold both 'a' and 'e' to trigger command+option
    hold-trigger-key-positions = <KEYS_R THUMBS>;
    // check whether a key is in `hold-trigger-key-positions` on release of that key.
    // this enables holding down two mod keys on the same side of the keyboard
    // since the second pressed mod key won't be checked until it's released
    hold-trigger-on-release;
)

// right handed home-row modifiers
ZMK_BEHAVIOR(hrmr, hold_tap,
    flavor="balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
)

// window placement
ZMK_BEHAVIOR(win_right, macro,
    wait-ms = <100>;
    tap-ms= <5>;
    bindings = <&kp LG(LA(LC(RIGHT)))>;
)
ZMK_BEHAVIOR(win_left, macro,
    wait-ms = <100>;
    tap-ms= <5>;
    bindings = <&kp LG(LA(LC(LEFT)))>;
)
ZMK_BEHAVIOR(screen_right, macro,
    wait-ms = <100>;
    tap-ms= <5>;
    bindings = <&kp LG(LA(RIGHT))>;
)

ZMK_BEHAVIOR(screen_left, macro,
    wait-ms = <100>;
    tap-ms= <5>;
    bindings = <&kp LG(LA(LEFT))>;
)

ZMK_BEHAVIOR(screen_up, macro,
    wait-ms = <100>;
    tap-ms= <5>;
    bindings = <&kp LG(LA(UP))>;
)

ZMK_BEHAVIOR(screen_down, macro,
    wait-ms = <100>;
    tap-ms= <5>;
    bindings = <&kp LG(LA(DOWN))>;
)

ZMK_BEHAVIOR(mssn_ctl, macro,
    wait-ms = <100>;
    tap-ms= <5>;
    bindings = <&kp LC(UP)>;
)

ZMK_BEHAVIOR(app_expose, macro,
    wait-ms = <100>;
    tap-ms= <5>;
    bindings = <&kp LC(DOWN)>;
)

ZMK_BEHAVIOR(fullscreen, macro,
    wait-ms = <100>;
    tap-ms= <5>;
    bindings = <&kp LG(LA(ENTER))>;
)

// hotswap program
ZMK_BEHAVIOR(switch, macro,
    wait-ms = <100>;
    tap-ms= <5>;
    bindings = <&kp LG(TAB)>;
)

// spotlight search
ZMK_BEHAVIOR(spotlight, macro,
    wait-ms = <100>;
    tap-ms= <5>;
    bindings = <&kp LG(SPACE)>;
)

// cycle windows, same program
ZMK_BEHAVIOR(win_switch, macro,
    wait-ms = <100>;
    tap-ms= <5>;
    bindings = <&kp LG(TILDE)>;
)

// tap: sticky shift (next press is shifted) | double tap: capsword (letters shifted until space or punctuation)
ZMK_BEHAVIOR(sshift, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&sk LSHFT>, <&caps_word>;
)

// tap: backspace | shift + tap: delete | hold: cmd layer
ZMK_BEHAVIOR(bs_del_cmd, mod_morph,
    bindings = <&lt CMD BSPC>, <&kp DEL>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

ZMK_LAYER(default_layer,
     /* ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                                          ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ */
           &kp PLUS       &kp N1        &kp N2        &kp N3         &kp N4        &kp N5       xxxxxx                                                                   &mo MOD       &kp N6        &kp N7        &kp N8        &kp N9         &kp N0      &kp MINUS
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                                          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
            ______        &kp SQT      &kp COMMA      &kp DOT        &kp P         &kp Y        xxxxxx                                                                   xxxxxx        &kp F         &kp G         &kp C         &kp R          &kp L       &kp FSLH
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ╭────────────┬─────────────┬─────────────┬─────────────╮ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
           &kp ESC     &hrml LALT A  &hrml LCTRL O &hrml LGUI E  &hrml LSHIFT U    &kp I        xxxxxx          &sshift      &sl FUN       &sl SYM       &sshift         xxxxxx        &kp D      &hrmr RSHIFT H &hrmr RGUI T &hrmr RCTRL N  &hrmr RALT S   &kp MINUS
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯ ╰────────────┼─────────────┼─────────────┼─────────────╯ ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
          &caps_word     &kp SEMI        &kp Q         &kp J         &kp K         &kp X                                     ______        ______                                      &kp B         &kp M         &kp W         &kp V          &kp Z       &kp BSLH
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯ ╭──────────────────────────┼─────────────┼─────────────┼───────────────────────────╮ ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
           &mo FUN       &kp GRAVE      &mo NUM      &kp LEFT       &kp RIGHT                   &bs_del_cmd     &mo SYM     &spotlight     &switch      &kp ENTER   &lt NUM SPACE                    &kp UP        &kp DOWN    &kp LC(LEFT) &kp LC(RIGHT)    ______
     /* ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰─────────────┴────────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯ */
)

ZMK_LAYER(numpad,
     /* ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                                          ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ */
             ______        ______        ______       ______        ______        ______         ______                                                                  ______        ______        ______        ______        ______         ______        ______
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                                          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             ______        ______        ______      &kp EQUAL      &kp PLUS      ______         ______                                                                  ______        ______       &kp KP_N7     &kp KP_N8    &kp KP_N9        ______        ______
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ╭────────────┬─────────────┬─────────────┬─────────────╮ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             ______        ______        ______       &kp LPAR      &kp RPAR      ______         ______         ______       ______         ______        ______         ______        ______       &kp KP_N4     &kp KP_N5    &kp KP_N6     &kp KP_N0        ______
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯ ╰────────────┼─────────────┼─────────────┼─────────────╯ ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             ______        ______        ______      &kp MINUS      &kp UNDER     ______                                     ______         ______                                     ______       &kp KP_N1     &kp KP_N2    &kp KP_N3        ______        ______
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯ ╭──────────────────────────┼─────────────┼─────────────┼───────────────────────────╮ ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             ______        ______        ______       ______        ______                        ______        ______       ______         ______    &kp KP_ENTER      ______                      &mssn_ctl    &app_expose     ______         ______        ______
     /* ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰─────────────┴────────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯ */
)

ZMK_LAYER(function,
     /* ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                                          ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ */
             &kp F1        &kp F2       &kp F3        &kp F4         &kp F5       &kp F6         ______                                                                  ______        &kp F7        &kp F8        &kp F9        &kp F10       &kp F11       &kp F12
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                                          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
            ______        ______        ______        ______        ______         ______        ______                                                                  ______        ______       &kp LG(N7)    &kp LG(N8)    &kp LG(N9)      ______        ______
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ╭────────────┬─────────────┬─────────────┬─────────────╮ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
            ______        ______        ______        ______        ______         ______        ______         ______       ______        ______         ______         ______        ______       &kp LG(N4)    &kp LG(N5)    &kp LG(N6)    &kp LG(N0)      ______
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯ ╰────────────┼─────────────┼─────────────┼─────────────╯ ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
            ______        ______        ______        ______        ______         ______                                    ______        ______                                      ______       &kp LG(N1)    &kp LG(N2)    &kp LG(N3)      ______        ______
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯ ╭──────────────────────────┼─────────────┼─────────────┼───────────────────────────╮ ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
            ______        ______        ______        ______        ______                       ______         ______       ______        ______         ______        ______                        ______        ______         ______       ______        ______
     /* ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰─────────────┴────────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯ */
)

ZMK_LAYER(mod,
     /* ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                                          ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ */
             ______     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4     ______                                                                   ______        ______        ______        ______        ______         ______       ______
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                                          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             ______        ______        ______       ______        ______         ______     &bootloader                                                              &bootloader      ______        ______        ______        ______         ______       ______
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ╭────────────┬─────────────┬─────────────┬─────────────╮ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             ______        ______        ______       ______        ______         ______        ______         ______        ______      &bt BT_CLR     ______           ______        ______        ______        ______        ______         ______       ______
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯ ╰────────────┼─────────────┼─────────────┼─────────────╯ ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             ______        ______        ______       ______        ______         ______                                     ______        ______                                      ______        ______        ______        ______         ______       ______
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯ ╭──────────────────────────┼─────────────┼─────────────┼───────────────────────────╮ ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             ______        ______        ______       ______        ______                        ______        ______        ______        ______       ______         ______                       ______        ______        ______         ______       ______
     /* ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰─────────────┴────────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯ */
)
ZMK_LAYER(symbols,
     /* ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                                          ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ */
             ______        ______        ______       ______        ______        ______         ______                                                                  ______        ______        ______        ______        ______         ______        ______
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                                          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             ______       &kp SEMI      &kp BSLH     &kp EQUAL     &kp PLUS     &kp LS(TAB)      ______                                                                  ______        &kp TAB       &kp MINUS     &kp UNDER     &kp FSLH     &kp QMARK       ______
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ╭────────────┬─────────────┬─────────────┬─────────────╮ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             ______       &kp DQT       &kp LBRC     &kp LBKT      &kp LPAR       &kp LT         ______         ______       ______        ______         ______         ______        &kp GT        &kp RPAR      &kp RBKT      &kp RBRC      &kp COLN      &kp PIPE
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯ ╰────────────┼─────────────┼─────────────┼─────────────╯ ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             ______       &kp EXCL    &kp AT_SIGN    &kp POUND    &kp DOLLAR     &kp TILDE                                   ______        ______                                     &kp GRAVE      &kp PRCNT     &kp CARET     &kp AMPS      &kp STAR       ______
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯ ╭──────────────────────────┼─────────────┼─────────────┼───────────────────────────╮ ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             ______        ______        ______       ______        ______                        ______        ______       ______      &win_switch   &kp ESCAPE     &kp SPACE                       ______        ______        ______        ______        ______
     /* ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰─────────────┴────────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯ */

)

ZMK_LAYER(cmdpad,
     /* ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                                          ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ */
             ______        ______        ______       ______        ______        ______         ______                                                                  ______        ______        ______        ______        ______         ______        ______
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                                          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             ______        ______        ______       ______        ______        ______         ______                                                                  ______        ______       &kp LG(N7)    &kp LG(N8)    &kp LG(N9)      ______        ______
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ╭────────────┬─────────────┬─────────────┬─────────────╮ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             ______        ______        ______       ______      &fullscreen     ______         ______         ______       ______         ______        ______         ______        ______       &kp LG(N4)    &kp LG(N5)    &kp LG(N6)    &kp LG(N0)      ______
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯ ╰────────────┼─────────────┼─────────────┼─────────────╯ ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             ______        ______      &screen_up    &win_left     &win_right     ______                                     ______         ______                                     ______       &kp LG(N1)    &kp LG(N2)    &kp LG(N3)      ______        ______
     /* ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯ ╭──────────────────────────┼─────────────┼─────────────┼───────────────────────────╮ ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ */
             ______        ______     &screen_down  &screen_left &screen_right                    ______        ______       ______         ______        ______        ______                       ______        ______         ______        ______        ______
     /* ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰─────────────┴────────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯ */
)